.blog {
  background-color: #eee;
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.blog-side {
  width: 280px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.blog-content {
  flex: 1;
  background: goldenrod;
  padding: 12px;
}
